* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 40px;
}

.w-28 {
  width: 28%;
}

.image-card {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card {
  position: static;
}

.modal-content {
  width: 150%;
}

.min-vh {
  min-height: 110vh !important;
}

.position-fixed {
  z-index: 99 !important;
}

.custom-btn-ck-editor-show-btn {
  display: block !important;
  margin: 10px auto;
}


.ck-editor__editable {
  min-height: 180px;
}

tbody, td, tfoot, th, thead, tr {
  border-width: 1px !important;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */


.ck.ck-balloon-panel {
  z-index: 10054 !important;
}